body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.contenedor {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}


input[type="text"],
input[type="number"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.resultado {
  text-align: center;
  margin-bottom: 20px;
}

.aviso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aviso .aviso-imagen {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.aviso .aviso-button{
  margin-bottom: 15px;
}

.aviso .aviso-nombre {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.aviso .aviso-edad,
.aviso .aviso-descripcion,
.aviso .aviso-estado {
  margin: 5px 0;
}

.aviso-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

.aviso-border {
  border: 1px solid black;
}

.aviso:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}