.contenedor {
    text-align: center;
    position: relative;
}


.contenedorSelect {
background-color: white; /* color de fondo del contenedor */
margin: auto; /* crea espacio fuera del elemento */
padding: 30px; /*  crea espacio alrededor de un elemento dentro del propio elemento*/  
border: 2px solid black; /* borde en el div*/
width: 50%; 
 
}

#contenedor {
    position: relative;
}

#campoTexto {
    text-align: center;
}

.modal-show {
    display: block;
}


#indice{
    background-color: rgb(249, 175, 39) ;  
    width: 100%;
    text-align: center;
}

.enlace{
    margin: 10%;
    font-size: 20px;
}


#map{
    position: absolute;
  bottom: 80px;
  left: 10;
  width: 400px;
  height: 300px;
  
    
}

#botonVerificar{
    margin-top:10px ;
}


#enviar{
    margin-top: 10px;
}