body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

#Formulario{
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;

  }

button{
    margin-top: 10px;
}

 input[type="text"],
 input[type="number"],
 input[type="file"] {
    width: 200px;
    padding: 5px;
  }

/* Estilos para los checkboxes */
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.form-group input[type="file"] {
    margin-top: 10px;
}

.form-group .checkbox-container {
    margin-top: 10px;
}

.form-group button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
}

